body {
    font-family: -apple-system, system-ui, Ubuntu, Roboto, "Open Sans", "Segoe UI", "Helvetica Neue";
    margin:0px;
}

h1 {
    background-color: rgb(0, 0, 0);
    margin:0px;
    padding:10px;
    color:rgb(255, 255, 255);
    font-weight: 300;
}

ul{
    margin:0px;
    background-color: rgb(220, 220, 220);
    color:gray;
    padding:10px;
}

li {
    list-style:none;
    display: inline;
    padding-left:5px;
    padding-right:5px;
}

h3 {
    padding:10px;
    margin:5px;
}

img {
    width: 210px;
    height:210px;
    padding:10px;
    border:1px dashed gray;
    margin:auto;
}

section {
    width:98%;
    margin:1%;
    align-content: center;
}

footer {
    background:black;
    color:white;
    padding:10px;
}

.section {
    column-count: 1;
}

a:hover {
    background:rgb(88, 88, 88);
}

@media  only screen and (max-width:500px) {
    li {
        text-align:center;
        padding:5px;
    }

    img {
        display: block;
        padding:20px;
        margin:auto;
    }

    h3, h1, footer {
        text-align:center;
    }
    .section {
        column-count: 1;
    }
}

@media only screen and (max-width:1000px)  and (min-width:501px){
    .section {
        column-count: 2;
    }
    section {
        width:90%;
    }
}
