body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(60, 36, 120);
}

.font {
    font-family:Arial, Helvetica, sans-serif;
    color:black;
}

header {
    width:100%;
    height:8vw;
    background-color:rgb(23, 0, 75);
}

.logoImage {
    padding:2%;
    height:5vw;
    width: 10vw;
    padding-top:1%;
}

.headingStyle {
    position:absolute;
    top:0.04vw;
    font-size: 3vw;
    margin: 0%;
    padding:1%;
    padding-top: 2.2vw;
    padding-bottom:2.2vw;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
}

.review {
    left:13.9vw;
}
.showcase {
    left:30vw;
}
.join {
    left:50vw;
}

.logoImage:hover {
    background-color:rgb(40, 24, 77);
}

.headingStyle:hover {
    background-color:rgb(40, 24, 77);
}

.images {
    float:left;
    margin-block-start: 0px;
    padding:2%;
    width:20vw;
    height:20vw;
}

.imageText {
    font-size: 2vw;
    padding:1%;
}

a {
    color:black; 
    text-decoration:none;
}
