
/*Body Style*/
body {padding: 0px; margin: 0px; background-color: rgb(255, 255, 255); margin-block-end: 0em; margin-block-start: 0em;}

/*Navagation Bar*/

/*Header Style*/
header {width:4em; height:100%; background-color:rgb(23, 0, 75); margin:0em;padding:0em; position: fixed;}

/*Navagation links position*/
.headingText {position:absolute; top:0em; padding-bottom:1.36em; padding-top:1.4em;}
.join {padding-right:2.46em;padding-left:2.46em;top:14.8em; font-size:0.59em;}
.review {padding-right:1.5em;padding-left:1.5em; top:6.8em;font-size:0.59em;}
.showcase {padding-right:1.08em;padding-left:1.08em;top:10.8em;font-size:0.59em;}
.headingStyle img {display: inline-block; width:3em; height:3em; padding-top:0.35em; padding-bottom:0.35em; padding-left:0.5em; padding-right:0.5em;}

/*Navagation links styling*/
.headingStyle li {display: inline-block; list-style-type: none;}
.headingStyle a {color:white; text-decoration: none;}
.headingStyle ul {height: 0em; width:0em; margin:0em; padding-inline-start: 0px;}
.logoLink {padding-top:3em;}
.headingStyle a:hover{background-color:rgb(40, 26, 73); border-bottom: 0.15em white solid;}

/*font*/
.font {font-family:'Roboto', 'Arial', 'sans-serif';color:rgb(62, 54, 80);}

/*review article*/
.articleStyle h1 {padding:0.5em;padding-left:0.5em; padding-bottom:0em; font-size:2em; margin:0em;}
.articleStyle p {font-size:1em; padding-left:1em; margin:0em;}
.articleStyle details {padding-left:1em; font-size:1em;}

/*images and figcaption*/
.images {margin-block-start: 0px;padding:1%;padding-left:0.5em;width: 8em;height:8em;float:left;}
figure {margin-top:0%; margin-left:1%;}
figcaption {font-size : 1.2em; padding-left:2%; padding-top:2%; }

/*footer*/
footer {width:100%; height: 2.5em; font-size: 1em;background-color: rgb(197, 182, 252); text-align: center;}

/*offset for vertical navigation*/
.offset{margin-left:4em;}